.hymn-carpet-row-ts-enter {
  opacity: 0;
}
.hymn-carpet-row-ts-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.hymn-carpet-row-ts-exit {
  opacity: 1;
}
.hymn-carpet-row-ts-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
