@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.hymn-steps {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.step {
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out;
}
.step-enter {
  transform: translate(-100%, 0);
}
.step-enter-active {
  transform: translate(0, 0);
}
.step-exit {
  transform: translate(-100%, 0);
}
